.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.6;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.6;
    text-indent: 0;
    margin: 1em 0
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.6
    }
.calibre3 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.6;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre4 {
    display: block;
    line-height: 1.6
    }
.calibre5 {
    line-height: 1.6;
    text-decoration: none
    }
.calibre6 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.6;
    padding: 0;
    margin: 1em 0 0
    }
.calibre7 {
    display: block;
    line-height: 1.6;
    text-align: right;
    text-indent: 0;
    margin: 1em 0
    }
.calibre8 {
    font-style: italic;
    line-height: 1.6
    }
.calibre9 {
    display: block;
    line-height: 1.6;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre10 {
    display: list-item;
    line-height: 1.6
    }
.calibre11 {
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    line-height: 1.6
    }
.calibre12 {
    height: auto;
    line-height: 1.6;
    width: 7%
    }
.calibre13 {
    height: auto;
    line-height: 1.6;
    width: 9%
    }
.calibre14 {
    font-size: 0.775em;
    line-height: 1.6;
    vertical-align: super
    }
.calibre15 {
    height: auto;
    line-height: 1.6;
    width: 35%
    }
.calibre16 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.6;
    padding: 0;
    margin: 1em 0 0
    }
.calibre17 {
    height: auto;
    line-height: 1.6;
    width: auto
    }
.calibre18 {
    display: block;
    line-height: 1.6;
    margin: 1em
    }
.calibre19 {
    height: auto;
    line-height: 1.6;
    width: 80%
    }
.calibre20 {
    display: block;
    line-height: 1.6;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre21 {
    font-size: 0.75em;
    line-height: 1.6;
    vertical-align: super
    }
.calibre22 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.6;
    padding: 0;
    margin: 1em 0 0
    }
.dai_ma_wu_xing_hao {
    display: block;
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    font-size: 0.75em;
    line-height: 1.6;
    white-space: pre-wrap;
    border: #000 solid 1px;
    padding: 0.3em;
    margin: 1.3em 0
    }
.not-in-toc {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.6;
    margin: 0.67em 0
    }
.toc-level {
    display: block;
    line-height: 1.6;
    text-indent: 0;
    margin: 0
    }
.toc-level1 {
    display: block;
    line-height: 1.6;
    text-indent: 2em;
    margin: 0
    }
.toc-level2 {
    display: block;
    line-height: 1.6;
    text-indent: 4em;
    margin: 0
    }
.tu {
    display: block;
    line-height: 1.6;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.zhu_shi_bian_hao {
    font-size: 0.83333em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.6;
    position: relative;
    text-decoration: none;
    top: -0.5em;
    vertical-align: baseline
    }
.zhu_shi_bian_hao_xia {
    font-size: 0.83333em;
    font-weight: bold;
    line-height: 1.6;
    position: relative;
    top: -0.5em;
    vertical-align: baseline
    }
.zhu_shi_nei_rong {
    display: block;
    font-size: 0.75em;
    line-height: 1.6;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    text-indent: 0;
    border-left: #999 solid 4px;
    margin: 0 0 1.4em
    }
