body {
    background-color: #F5F5D5;
}
.Dai Ma Wu Xing Hao {
    display: block;
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    font-size: 0.75em;
    white-space: pre-wrap;
    padding: 0.3em;
    border: #000 solid 1px;
    margin: 1.3em 0
    }
.Tu {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.Zhu Shi Bian Hao {
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    text-decoration: none;
    top: -0.5em;
    vertical-align: baseline
    }
.Zhu Shi Bian Hao Xia {
    font-size: 0.77778em;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    top: -0.5em;
    vertical-align: baseline
    }
.Zhu Shi Nei Rong {
    display: block;
    font-size: 0.75em;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    text-indent: 0;
    border-left: #999 solid 4px;
    margin: 0 0 1.4em
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 0;
    margin: 1em 0
    }
.calibre10 {
    height: auto;
    width: 60%
    }
.calibre11 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 1em 0 0
    }
.calibre12 {
    height: auto;
    width: 40%
    }
.calibre13 {
    height: auto;
    width: auto
    }
.calibre14 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    display: list-item
    }
.calibre16 {
    height: auto;
    width: 75%
    }
.calibre17 {
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    line-height: 1.2
    }
.calibre18 {
    font-style: italic
    }
.calibre19 {
    height: auto;
    width: 80%
    }
.calibre2 {
    font-weight: bold
    }
.calibre20 {
    height: auto;
    width: 65%
    }
.calibre21 {
    height: auto;
    width: 68%
    }
.calibre22 {
    height: auto;
    width: 70%
    }
.calibre23 {
    height: auto;
    width: 52%
    }
.calibre24 {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    text-indent: 0;
    margin: 15px auto 30px
    }
.calibre25 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre26 {
    display: table-row;
    vertical-align: inherit
    }
.calibre27 {
    display: table-cell;
    font-size: 0.75em;
    font-weight: bold;
    page-break-inside: avoid;
    text-align: center;
    vertical-align: auto;
    padding: 0.3em;
    border: #000 solid 1px
    }
.calibre28 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre29 {
    display: table-cell;
    font-size: 0.75em;
    page-break-inside: avoid;
    text-align: left;
    vertical-align: auto;
    padding: 0.3em;
    border: #000 solid 1px
    }
.calibre3 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre30 {
    background-color: #f1f6fc;
    display: table-row;
    vertical-align: inherit
    }
.calibre31 {
    height: auto;
    width: 46%
    }
.calibre32 {
    height: auto;
    width: 45%
    }
.calibre33 {
    height: auto;
    width: 90%
    }
.calibre34 {
    height: auto;
    width: 85%
    }
.calibre4 {
    display: block
    }
.calibre5 {
    text-decoration: none
    }
.calibre6 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    padding: 0;
    margin: 1em 0 0
    }
.calibre8 {
    display: block;
    margin: 1em
    }
.calibre9 {
    font-family: Courier, Menlo, Monaco, Consolas, monospace
    }
.not-in-toc {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.toc-level {
    display: block;
    line-height: 1.5;
    text-indent: 0;
    margin: 0
    }
.toc-level1 {
    display: block;
    line-height: 1.5;
    text-indent: 2em;
    margin: 0
    }
.toc-level2 {
    display: block;
    line-height: 1.5;
    text-indent: 4em;
    margin: 0
    }
